<header class="app-header">
  <div class="container">
    <a routerLink="/" class="logo-link">
      <img src="/assets/images/logo.png" alt="Game Store Logo" class="logo" />
    </a>

    <h1 class="heading-md">Pap's videoclub</h1>

    <nav>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/results" routerLinkActive="active">Results</a>
      <a routerLink="/checkout" routerLinkActive="active">Checkout</a>
    </nav>
  </div>
</header>
