@import "variables";

.table-tab-container {
  height: 54vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: small;

  --p-datatable-row-background: var(--p-chip-background);
  --p-datatable-header-cell-background: var(--p-chip-background);
  --p-datatable-header-cell-hover-background: color-mix(
    in srgb,
    var(--p-chip-background),
    #000 24%
  );
  --p-datatable-header-cell-selected-background: #{$color-surface};
  --p-datatable-row-selected-background: #{$color-surface};
  --p-select-background: var(--p-chip-background);
  --p-select-border-color: rgba(0, 0, 0, 0);
  --p-paginator-nav-button-selected-background: color-mix(
    in srgb,
    var(--p-chip-background),
    #000 25%
  );

  ::ng-deep .p-datatable-thead .p-sortable-column-icon {
    margin-left: 5px;
    width: 10px;
    height: 10px;
  }

  ::ng-deep .p-datatable-tbody > tr {
    height: 32px;
  }

  ::ng-deep .p-datatable-tbody > tr:not(.p-datatable-row-selected):hover {
    background: color-mix(in srgb, var(--p-chip-background), #000 12%);
  }

  ::ng-deep .p-datatable-tbody > tr > td {
    border: none;
  }
  ::ng-deep .p-paginator {
    background: var(--p-chip-background) !important;
  }
}
