@import "../../../styles/variables";

.search-keyword {
  font-size: $font-size-base;
  margin-left: $spacing-xxl;
  border: none;
}

.input-clear-wrapper {
  position: relative;
}

.input-clear-icon {
  position: absolute;
  left: 16.6em;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 0.7rem;
  transition: color 0.2s;
  z-index: 2;
}
